/* ---------------------variable */
:root{
    --base1-color:   #bf9990;
    --base2-color: #886158;
    --black-color: #313337;
    /* Tipografia */
    --normal: 12px;
    /* Espaciado */
    --space: 10px;
    /* Box shadow */
    --box: 0 0 20px #c1bcbc;
    }
    /* #a0bd2c */

body {
    background-color: #f9f0e8a8;
}

/* Main */
#main .carousel-inner img {
    max-height: 70vH;
    /* la imagen se encuentra desproporcionada, para cambiar esto aplicamos objet-fit: cover; */
    object-fit: cover;
    /* filtro */
    /* filter: grayscale(70%); */
}
#carousel {
    position:relative;
}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(0,0,0,0.5); */
    z-index: 1;
}
#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}
/* /Main */


#services {
    font-family: 'Pinyon Script', cursive;
}
/* footer */
#footer {
    height: 300px;
    background-image: url(images/logo.jpeg);
    background-size: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--black-color);
}
#footer img {
    padding: 10px;
    width: 80px;
  }
#footer img:hover{
    transform: scale(1.1);
    transition: all .5s;
}
/* /footer */



/* Generales */
.title1 h1{
    font-family: 'Pinyon Script', cursive;
    font-size: 50px;
    color: var(--black-color);
    /*              x    y   radio */
    text-shadow: 0.0em 0.0em 0.1em white;
    font-weight: 600;
}
.title2 h2{
    color: var(--base1-color);
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
.title2 a{
    color: var(--base1-color);
    text-decoration: none;
}
.title2 small{
    color: var(--base1-color);
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
.title-blog {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
/* /Generales */

/*botones */
.btn-innova {
    background: var(--base1-color);
    color: white;
}
.btn-innova:hover {
    background-color:var(--base2-color);
}
.card {
    border-radius: 25px;
}
.btn-innovaleer {
    border-radius: 25px;
    background: var(--base1-color);
    color: var(--black-color);
}
.btn-innovaleer:hover {
    background-color:var(--base2-color);
}
/* /constantes */


/* media */
  @media screen and (max-width: 720px) {
    .title1 h1{
    font-size: 25px;
    font-weight: 600;
    }
    #footer {
        background-size: 300px;
    }
}
@media screen and (max-width: 480px) {
    .title1 h1{
    font-size: 20px;
    }
    #footer {
        background-size: 250px;
    }
}
/* /media */



